#questionBox {
  margin: 50px auto;
  max-width: 500px;
  background-color: #eff2f5;
  padding: 20px 40px;
  border-radius: 12px;
  height: auto;
}
#title {
  margin: 0 1rem 1rem;

  padding: 0 0 10px 0;
  /* color: var(--main) !important; */
  /* border-bottom: 1px solid #212529; */
}
#progressBar {
  height: 10px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50px;
  margin: 20px 0;
  overflow: hidden;
}
#progressBar div {
  height: 100%;
  background-color: #0bc439;
  border-radius: inherit;
  transition: width 0.5s ease-in-out;
}
#progress {
  margin: 1.5rem 0;
}
#progress #questionCount {
  color: #666 !important;
  text-align: center;
}
#question {
  font-weight: 700;
  font-size: 1rem;
  color: var(--main);
}

#optionsSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
  color: var(--main);
}

#optionsSection button {
  width: 100%;
  border: 1px solid black;
  border-radius: 12px;
  text-align: right;
  padding: 5px 10px;
}

#optionsSection button:hover {
  cursor: pointer;
}

.finishMessage {
  margin: 200px auto;
  font-size: 2rem;
  font-weight: 700;
}
#backBtn {
  padding: 5px 20px;
  margin: 0 10px;
}

#finishBtn {
  padding: 5px 30px;
}
